page-login {
  .center{
    text-align: center;
  }

  .bg2{
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  }

  .bg{
    background: linear-gradient(180deg, #0059ff, #e90404);
    background-size: 100% 100%;

    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;

    @-webkit-keyframes AnimationName {
      0%{background-position:52% 0%}
      50%{background-position:49% 100%}
      100%{background-position:52% 0%}
    }
    @-moz-keyframes AnimationName {
      0%{background-position:52% 0%}
      50%{background-position:49% 100%}
      100%{background-position:52% 0%}
    }
    @keyframes AnimationName {
      0%{background-position:52% 0%}
      50%{background-position:49% 100%}
      100%{background-position:52% 0%}
    }
  }
}
